<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p> <%= link_to 'Sign out', signout_path, method: "delete" %>
<p> <%= link_to 'add casino accounts', "#" %> </p>
<!-- <p> <%= link_to 'manage email settings', "#" %> </p> -->
<p> <%= link_to 'delete my account', @user, method: "destroy", data: {confirm: "Are you sure?"} %> </p>
